*{
    background-color: black;
}
.container{
    margin-top: 35px;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px 500px ;
    grid-template-rows: 300px 300px;
    row-gap: 5px;
    column-gap: 5px;
}
.para1{
    font-size: large;
    color: rgb(43, 226, 119);
}
.para2{
    font-size: large;
    color: brown;

}
@media(min-width:768px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:1024px){
    .container{
        display: grid;
        grid-template-columns: 100%;
    }
}